/* your beautiful css styling goes here! */

svg{
	background-color: grey;
}
.enemy{
	border-radius : 10px,
	fill: red;

}

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

